img{
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%) no-repeat;
    color: #333333;
}

.wrap{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 48px;
}

h1{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 48px;
    letter-spacing: 8.75px;
    text-align: center;
    margin-bottom: 26px;
    line-height: 82px;

}

.new-item {
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
}

.new-item .form-control{
    background-color: transparent;
    border: 0;
    font-size: 16px;
    padding-left: 24px;
    color: #9F9A91;
    letter-spacing: 0.7px;
    line-height: 24px;

}
.btn-outline-secondary{
    border: 0;
    background: transparent;
    box-shadow: none;
}
#button-addon2{
    background: #333333;
    border-radius: 10px;
    /* font-family: NotoSansCJKtc-Medium; */
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 1.23px;
    text-align: center;
    width: 40px;   
    height: 40px;
    line-height: 32px;
    margin: 4px;
    padding: 1px 10px 6px 12px;
} 

.list {
    background: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    border-radius: 10px;

}

.list .nav-item .nav-link{
    border:0;
    border-bottom: 2px solid #EFEFEF;
    font-size: 14px;
    color: #9F9A91;
    letter-spacing: 0.7px;
    line-height: 20px;
    padding: 16px 0px;

}
.list .nav-item .nav-link:hover,
.list .nav-item .active{
    border:0;
    border-bottom: 2px solid #333333;
    color: #333333;
    font-weight: bold;
    background: none;
}



.todoList {
    padding-left: 24px;
    padding-right: 0px;
}
.todoList li{
    list-style: none;
    display: flex; 
}

.todoList.checkedUl li{
    display: none;
}
.todoList.checkedUl li.checked{
    display: flex;
}

.todoList.uncheckedUl li.checked{
    display: none;
}


.todoList li:hover .delete{
    background: url('https://hexschool.github.io/js-todo/assets/cancel.jpg') no-repeat center/16px;   
}
.todoList li .form-check{
    flex-grow: 1;
}

.todoList li .form-check{
    line-height: 24px;
    display: flex;
    align-items: center;
 
}

.todoList li .form-check-label {
    padding: 17px 0px;
    flex-grow: 1;
    border-bottom: 1px solid #EFEFEF;
    margin-left: 16px;
}


.form-check-input{
    border-color: #333333;
    
}
.form-check-input:focus{
    border-color: #333333;
    box-shadow:none;
}
.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFD370' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    background-size: 22px 22px ;
    
}
.form-check-input:checked {
    background-color: #ffffff;
    border-color: #ffffff;
    
}

.form-check-input:checked+label{
    color: rgba(51,51,51,0.30);
    text-decoration:line-through
}

.delete{
    width: 48px;
    height: 58px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 48px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
}

.footer a{
    text-decoration: none;

    color: #9F9A91;
    letter-spacing: 0.7px;
}

@media screen and (max-width:768px) {
    body{

        background-image: linear-gradient(156deg, #FFD370 0%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    }
    h1{
        margin-bottom: 0;
        font-size: 32px;
        letter-spacing: 5.83px;
    }
    .wrap{
        padding: 0px 12px;
    }
    .delete{
        background: url('https://hexschool.github.io/js-todo/assets/cancel.jpg') no-repeat center/16px;   
    }
}
